<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>

    <!--<connectionStrings>
    <add name="DematDb" providerName="System.Data.SqlClient" connectionString="Data Source=ROMYLUSS\SQLEXPRESS;initial catalog =DematDb;Encrypt=False;Integrated Security=True;User ID=ROMYLUSS\Romyluss" />
  </connectionStrings>-->

  <connectionStrings>
    <add name="DOCUMAT" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-C3OL358;initial catalog=DOCUMAT_BD;User ID=sa;Password=1234;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="CheminDossier_Scan" value="C:\"/>
    <add key="CheminDossier_Avatar" value="C:\"/>
    <add key="CheminDossier_Anim" value="/ASSETS/ANIM/"/>
    <add key="CheminDossier_AvatarTemplate" value="/ASSETS/AVATAR/"/>
    <add key="Nom_Page_Garde" value="PAGE DE GARDE"/>
    <add key="Nom_Page_Ouverture" value="PAGE D'OUVERTURE"/>
    <add key="Nom_Log_Scan" value="Finashore.mets"/>
  </appSettings>
</configuration>
